@model Labb.Models.ViewModels.IPageViewModel<EPiServer.Core.PageData>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CurrentPage.Name</title>
    <link href="~/static/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="container">
            @Html.Partial("~/Views/Shared/Header.cshtml", Model.MenuItems)
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>
